:root {
    --colorT: #4593f9;
    --colorB: #dceaff;
    --colorA: #afafb3;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
}

::placeholder {
    color: #6d757e;
}

::-webkit-scrollbar{
    height: 15px;
}

::-webkit-scrollbar-track{
    box-shadow: 0 0 2px rgba( 0, 0, 0, 0.25) inset;
    border-radius: 8px; 
}

::-webkit-scrollbar-thumb{
    background: var(--colorT);
    border-radius: 8px;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-text::after,
.logo-text {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-left: 15px;
}

.search-box {
    display: flex;
    align-items: center;
    background: var(--colorB);
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}

.search-button {
    color: var(--colorT);
    float: right;
    width: 30px;
    border-radius: 50%;
    background: var(--colorB);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}

.content-group{
    padding: 15px;
    min-width: 100%;
    box-shadow: 2px 5px 25px -3px rgba( 180, 180, 180, 0.25);
    border-radius: 20px;
}

.group-title{
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 20px;
}

.group-cards{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}


.card{
    min-width: 200px;
    border-radius: 20px;
    height: 250px;
    padding: 10px;
    background-color: var(--colorB);
    margin: 20px 5px;
}

.name-city{
    font-weight: normal;
    font-size: 22px;
}

.city-card{
    position: relative;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.weather-icon{
    width: 70px;
    height: 70px;
}

.temperature{
    font-size: 25px;
}

.additionally{
    color: var(--colorA);
}

.content-bx{
    position: absolute;
    top: -50%;
    display: flex;
    flex-direction: column;

}


footer{
    margin-top: 20px;
}